{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                Панель инструментов
                {{ page_content }}
            </div>
        </div>
    </div>
{% endblock %}

