{% extends "layout.html" %}
{% block page_title %}{{page_title}}{% endblock %}
{% block left_menu %}
  <section id="left_menu">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <!--{% for item in menus %}-->
          <!--<li>-->
            <!--<a href="#">{{ item.name }}</a>-->
          <!--</li>-->
        <!--{% endfor %}-->
      </ul>
    </div>
  </section>
{% endblock %}
{% block content %}
{{page_content}}
{% endblock %}

