
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">О системе</h1>
    <div class="row">
      <p class="lead">пару слов</p>
    </div>
</div>
{% endblock %}

