{% extends "layout.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">

            <h3 class="display-4">Добро пожаловать в систему управления службой СМП г. Владимира!</h3>

            <p>Это экран приветсвия, куда имеют доступ все</p>
        </div>
    </div><!-- /.jumbotron -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Сервисы системы</h3>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-lg-4">
                    <h2><i class="fa fa-code"></i> Оперативная обстановка</h2>
                    <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web
                        development.</p>
                    <p><a class="btn btn-outline-secondary" href="http://getbootstrap.com/">Перейти &raquo;</a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h2><i class="fa fa-flask"></i> Архив</h2>
                    <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application
                        developers
                        the full power and flexibility of SQL.</p>
                    <p><a href="http://www.sqlalchemy.org/" class="btn btn-outline-secondary">Перейти
                        &raquo;</a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h2><i class="fa fa-edit"></i> Статистика</h2>
                    <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
                    <p><a href="http://wtforms.simplecodes.com/" class="btn btn-outline-secondary">Перейти
                        &raquo;</a></p>
                </div>
            </div><!-- /.row -->
        </div>
    </div>
{% endblock %}

