
{% extends "layout.html" %}

{% block page_title %}Не прав доступа{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>401</h1>
        <p>У вас нет прав доступа к этой странице</a>
        </p>
    </div>
</div>
{% endblock %}

