{% import 'macros.html' as macros %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>
        {% block page_title %}
            {% if page_title %}
                {{ page_title }}
            {% else %}
                SMP-CMS
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    {{ stylesheet_tag('main_css') | safe }}

    {% block css %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
    {% with form=form %}
        {% include "nav.html" %}
    {% endwith %}

    <header>{% block header %}{% endblock %}</header>

    <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                                {{ message }}
                            </div><!-- end .alert -->
                        {% endfor %}
                    </div><!-- end col-md -->
                </div><!-- end row -->
            {% endif %}
        {% endwith %}


            <div class="container-fluid">
                <div class="row">
                    {% if current_user and current_user.is_authenticated %}
                        <div class="col-2">{% block left_menu %}{{ macros.render_left_menu(curr_user, menus) }}{% endblock %}</div>
                        <div class="col-10">
                    {% else %}
                        <div class="col-12">
                    {% endif %}
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </div>


        {% call() macros.render_modal("service-choice", "Выбор сервиса", "modal-lg service-choice-modal", "", "") %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {{ macros.render_button ( url_for('services.dashboard_common'), "Сводка", "") }}
                    </div>
                    <div class="col">
                        {{ macros.render_button ( url_for('services.dashboard_common'), "Архив", "") }}
                    </div>
                    <div class="col">
                        {{ macros.render_button ( url_for('services.dashboard_common'), "Пациенты", "") }}
                    </div>
                    <div class="col">
                        {{ macros.render_button ( url_for('services.dashboard_common'), "Статистика", "") }}
                    </div>
                    <div class="col">
                        {{ macros.render_button ( url_for('services.dashboard_common'), "Оперативная обстановка", "") }}
                    </div>
                </div>
            </div>
        {% endcall %}
    </main>


    {% include "footer.html" %}

    <!-- JavaScript at the bottom for fast page loading -->
    {{ javascript_tag('main_js') | safe }}
    {% block js %}{% endblock %}
    <!-- end scripts -->
{% endblock %}
</body>
</html>

