{% macro render_modal (modal_id, header, class, submit_form_id = '', submit_button_caption='') %}
    <div id="{{ modal_id }}" class="modal fade " role="dialog">
        <div class="modal-dialog {{ class }}">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="modal-icon" data-dismiss="modal"><i class="modal-icon-close"></i></a>
                    <div class="modal-title">{{ header }}</div>
                </div>
                <div class="modal-body">
                    {{ caller()|safe }}
                </div>
                <div class="modal-footer">
                    {% if submit_form_id %}
                        <a type="button" class="modal-button action-button-positive"
                           data-submit-form="{{ submit_form_id }}">
                            {% if submit_button_caption %}
                                {{ submit_button_caption }}
                            {% else %}
                                {{ "Save" }}
                            {% endif %}
                        </a>
                        <a type="button" class="modal-button action-button-neutral"
                           data-dismiss="modal">{{ "Cancel" }}</a>
                    {% else %}
                        <a type="button" class="modal-button action-button-neutral"
                           data-dismiss="modal">{{ "Close" }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_modal_trigger_button (modal_id, header, class) %}
    <button type="button" class="btn btn-primary {{ class }}" data-toggle="modal" data-target="#{{ modal_id }}">
        {{ header }}
    </button>
{% endmacro %}

{% macro render_button (url, header, class) %}
    <a href="{{ url }}" class="btn btn-primary btn-lg {{ class }}" role="button" aria-pressed="true">{{ header }}</a>
{% endmacro %}


{% macro render_simple_table (headers, items, class="", title="") %}
    <h3>{{ title }}</h3>
    <table class="table table-sm {{ class }}">
        <thead>
        <tr>
            {% for header in headers %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {% for td_info in item %}
                    <td>{{ td_info }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_left_menu (curr_user, menus) %}

    <div class="list-group">
        {% for item in menus %}
            {% if curr_user.role.type in item.roles %}
                <a href="{{ url_for( item.url ) }}" class="list-group-item list-group-item-action">
                    {{ item.title }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}