{% import 'macros.html' as macros %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <span class="navbar-brand">
     {{ macros.render_modal_trigger_button ("service-choice", "Выбор сервиса", "d") }}
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('public.home') }}">Старт
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.about') }}">О системе</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.users') }}">Все пользователи</a>
      </li>
    </ul>
    {% if current_user and current_user.is_authenticated %}
    <ul class="navbar-nav my-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('user.get', id=current_user.id) }}">{{ current_user.name }} [{{ current_user.role.name }}]</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.logout') }}">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
    {% elif login_form %}
    <form class="form-inline" autocomplete="off" id="loginForm" method="POST" action="/" role="login">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="input-group mb-2 mr-sm-2">
        {{ login_form.tab_id(placeholder="Табельный номер", class_="form-control mr-sm-1 my-auto") }} {{ login_form.password(placeholder="Password",
        class_="form-control mr-sm-1 my-auto") }}
        <button class="btn btn-light btn-primary m-auto" type="submit">Login</button>
      </div>
    </form>
    <ul class="navbar-nav my-auto">
      <li class="nav-item">

      </li>
    </ul>
    {% endif %}
  </div><!-- /.navbar-collapse -->
</nav>
