{% extends "layout.html" %}
{% block content %}
<div class="container" style="padding: 10px; ">
    <h1>{{title}}</h1>
    <br/>
    <div id="toolbar"></div>


    <table id="table"
           data-search="true"
           data-toggle="table"
           data-toolbar="#toolbar"
           data-page-list="[10, ALL]"
           data-url="/api/substations/"
           data-show-export="true"
           data-pagination="true"
    >
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">#</th>
            <th data-field="name" data-sortable="true">Наименование</th>
        </tr>
        </thead>
    </table>
</div>
{% endblock %}