
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h3>Все юзеры</h3>
        {{ macros.render_simple_table (headers, items, class="", title=title) }}
    </div>
{% endblock %}

